<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <meta name="csrf-token" th:content="${_csrf.token}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DIY Bet Tracker</title>
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" th:href="${cssSheet}" />
  <script>

  </script>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.x.x/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>

<body>
  <div th:insert="navbar :: navbar"></div>
  <div class="diy-filter-nav" id="filterNav" style="display: none;">
    <div class="text-left">
      <button type="button" class="btn btn-primary" id="filterButton">Filter</button>
      <div class="filter-container" id="filterContainer">
        <div id="tagFilters">
          <h5>Tags:</h5>
        </div>
        <div id="sportsbookFilters">
          <h5>Sportsbooks:</h5>
        </div>
        <div id="statusFilters">
          <h5>Status:</h5>
          <div class="input-group mb-3">
            <div class="input-group-text"><input type="checkbox" class="form-check-input mt-0"></div><span
              class="input-group-text" style="flex-grow: 1;">Lost</span>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-text"><input type="checkbox" class="form-check-input mt-0"></div><span
              class="input-group-text" style="flex-grow: 1;">Open</span>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-text"><input type="checkbox" class="form-check-input mt-0"></div><span
              class="input-group-text" style="flex-grow: 1;">Won</span>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-text"><input type="checkbox" class="form-check-input mt-0"></div><span
              class="input-group-text" style="flex-grow: 1;">Void</span>
          </div>
        </div>
        <div id="oddsRange">
          <h5>Odds range:</h5>
          <div class="input-group mb-3" style="width: 180px; padding: 0px;">
            <input type="text" class="form-control" id="minOddsFilter" placeholder="Min" aria-label="Min Odds">
            <span class="input-group-text">-</span>
            <input type="text" class="form-control" id="maxOddsFilter" placeholder="Max" aria-label="Max Odds">
          </div>
        </div>
        <div id="">
          <h5>Stake range:</h5>
          <div class="input-group mb-3" style="width: 180px; padding: 0px;">
            <input type="text" class="form-control" id="minStakeFilter" placeholder="Min" aria-label="Min Odds">
            <span class="input-group-text">-</span>
            <input type="text" class="form-control" id="maxStakeFilter" placeholder="Max" aria-label="Max Odds">
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-primary" id="clearFilterButton">Clear</button>

          <button type="button" class="btn btn-primary" id="applyFilterButton">Apply</button>
        </div>

        <!-- <div class="input-group mb-3">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" value=""
              aria-label="Checkbox for following text input">
          </div>
          <span class="input-group-text" id="basic-addon3">Test tag</span>
        </div> -->

      </div>
    </div>


    <div class="text-center diy-nav-filter">


      <nav aria-label="...">
        <ul class="pagination diy-pagination justify-content-center">
          <li class="page-item diy-page-item active" aria-current="page" id="dayListItem"><a class="page-link" href="#"
              id="dayFilter">Day</a></li>
          <li class="page-item diy-page-item" id="weekListItem"><a class="page-link" href="#" id="weekFilter">Week</a>
          </li>
          <li class="page-item diy-page-item" id="monthListItem"><a class="page-link" href="#"
              id="monthFilter">Month</a>
          </li>
        </ul>
        <ul class="pagination diy-pagination justify-content-center">
          <li class="page-item diy-page-item" id="previousListItem">
            <a class="page-link" href="#" id="previousFilter">Previous</a>
          </li>
          <li class="page-item "><a class="page-link" id="currentDateFilter"></a>
          </li>

          <li class="page-item diy-page-item" id="nextListItem">
            <a class="page-link" href="#" id="nextFilter">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div>
    <div style="display: flex; justify-content: center;" th:insert="betTable :: betTable"></div>
  </div>


  <div id="overlay"></div>
  <div class="form-popup" id="addBetDiv">
    <div style="margin-top: 20px">
      <div class="row g-3 mb-3 diy-row-bet">
        <input type="hidden" id="betTypeInput">
        <input type="hidden" id="betIdInput">
        <div class="col-auto">
          <label for="sportsbookInput" class="col-form-label">Sportsbook:</label>

        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="sportsbookInput">
          <div class="suggestion-container" id="sportsbookSuggestionContainer"></div>
        </div>
        <div class="col-auto">
          <label for="statusSelect" class="col-form-label">Status:</label>
        </div>
        <div class="col-sm-2">
          <select class="form-select add-bet-form-select" id="statusSelect" aria-label="Default select example">
            <option selected value="open">Open</option>
            <option value="lost">Lost</option>
            <option value="won">Won</option>
            <option value="void">Void</option>
          </select>
        </div>



        <div class="col-auto">
          <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="keepSportsbookCheckbox" autocomplete="off" tabindex="-1">
            <label class="btn btn-outline-primary diy-form-btn" for="keepSportsbookCheckbox">Keep Sportsbook</label>

            <input type="checkbox" class="btn-check" id="keepDateCheckbox" autocomplete="off" tabindex="-1">
            <label class="btn btn-outline-primary diy-form-btn" for="keepDateCheckbox">Keep Date</label>

            <input type="checkbox" class="btn-check" id="keepStatusCheckbox" autocomplete="off" tabindex="-1">
            <label class="btn btn-outline-primary diy-form-btn" for="keepStatusCheckbox">Keep Status</label>
            <input type="checkbox" class="btn-check" id="keepTagsCheckbox" autocomplete="off" tabindex="-1">
            <label class="btn btn-outline-primary diy-form-btn" for="keepTagsCheckbox">Keep Tags</label>
          </div>
        </div>

      </div>
      <div class="row g-3 mb-3 diy-row-bet">

        <div class="col-auto">
          <label for="oddsInput" class="col-form-label">Odds:</label>
        </div>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="oddsInput">
        </div>
        <div class="col-auto">
          <label for="stakeInput" class="col-form-label">Stake:</label>
        </div>
        <div class="col-sm-2">
          <input type="number" step="0.01" class="form-control" id="stakeInput">
        </div>
        <div class="col-auto">
          <label for="freeBetStakeInput" class="col-form-label">F.B. Stake:</label>
        </div>
        <div class="col-sm-2">
          <input type="number" step="0.01" class="form-control" id="freeBetStakeInput">
        </div>
        <div class="col-auto">
          <label for="profitInput" class="col-form-label">Profit:</label>
        </div>
        <div class="col-sm-2">
          <input type="number" step="0.01" readonly class="form-control" id="profitInput" value="0.00" tabindex="-1">
        </div>
      </div>
      <div class="row g-3 mb-3 diy-row-bet">
        <div class="col-auto">
          <label for="eventDateInput" class="col-form-label">Event Date</label>
        </div>
        <div class="col-sm-3">
          <input type="date" id="eventDateInput" class="form-control">
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <input type="text" id="tagInput" class="form-control" aria-label="Edit tags dropdown">

            <button class="btn btn-outline-open diy-form-btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">Actions</button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#" id="addTagDropdown">Add Tag</a></li>
              <li><a class="dropdown-item" href="#" id="removeTagDropdown">Remove Tag</a></li>
              <li><a class="dropdown-item" href="#" id="clearTagsDropdown">Clear Tags</a></li>
            </ul>


          </div>
          <div class="suggestion-container" id="tagSuggestionContainer"></div>
        </div>
        <div class="col-sm-2">
          <label id="betTags" class="col-form-label">Tags:</label>
        </div>
      </div>
      <div class="row g-3 mb-3 diy-row-bet">
        <div class="col-auto">
          <label for="evPercentInput" class="col-form-label">Ev Percent:</label>
        </div>
        <div class="col-sm-2">
          <input type="number" step="0.01" class="form-control" id="evPercentInput">
        </div>
        <div class="col-auto">
          <label for="expectedProfitInput" class="col-form-label">Expected Profit:</label>
        </div>
        <div class="col-sm-2">
          <input type="number" step="0.01" class="form-control" id="expectedProfitInput">
        </div>
        <div class="col-auto">
          <label for="freeBetRecieved" class="col-form-label">F.B. Amount Rec:</label>
        </div>
        <div class="col-sm-2">
          <div class="input-group">

            <input type="number" step="0.01" class="form-control" id="freeBetRecieved">
            <div class="input-group-text input-group-check">
              <input class="form-check-input mt-0" type="checkbox" id="freeBeReceivedCheckbox" value=""
                aria-label="Checkbox for free bet was received">
            </div>
          </div>
        </div>
        <div class="row g-3 mb-3" id="legRow">
          <div class="input-group">
            <span class="input-group-text diy-legs">Legs</span>
            <input type="text" aria-label="Leg 1" class="form-control">
            <input type="text" aria-label="Leg 2" class="form-control">
            <input type="text" aria-label="Leg 3" class="form-control">
            <input type="text" aria-label="Leg 4" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-text diy-legs">Legs</span>
            <input type="text" aria-label="Leg 5" class="form-control">
            <input type="text" aria-label="Leg 6" class="form-control">
            <input type="text" aria-label="Leg 7" class="form-control">
            <input type="text" aria-label="Leg 8" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-text diy-legs">Legs</span>
            <input type="text" aria-label="Leg 9" class="form-control">
            <input type="text" aria-label="Leg 10" class="form-control">
            <input type="text" aria-label="Leg 11" class="form-control">
            <input type="text" aria-label="Leg 12" class="form-control">
          </div>




        </div>

      </div>
      <div class="row g-3 mb-3 diy-end-buttons" id="endButtonsRow">

        <div class="col-auto">
          <button type="submit" class="btn btn-primary" id="closeBetButton">Cancel</button>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" id="saveBetButton">Save Bet</button>
        </div>
      </div>
    </div>


  </div>
  <div class="fixed-bottom-diy d-flex justify-content-end flex-column" id="diyAlert"></div>





  <script type="module" src="/js/bets.js"></script>


</body>

</html>