<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Navigation Bar</title>
</head>
<div style="text-align: center; display: flex; justify-content: center;" th:fragment="betTable()">
    <table class="diy-table" id="betTable" style="text-align: center; display: none;">
        <thead id="itemHead">
            <tr>
                <th class="diy-table-header" scope="col" style="max-width: 200px">
                    <div class="diy-header-text">
                        Sportsbook
                    </div>
                </th>
                <th class="diy-table-header" scope="col" style="max-width: 200px">
                    <div class="diy-header-text">
                        Legs
                    </div>
                </th>
                <th class="diy-table-header" scope="col" style="max-width: 100px">
                    <div class="diy-header-text">
                        Date
                    </div>
                </th>
                <th class="diy-table-header" scope="col" style="max-width: 200px">
                    <div class="diy-header-text">
                        Odds
                    </div>
                </th>
                <th class="diy-table-header" scope="col" style="max-width: 100px">
                    <div class="diy-header-text">
                        Stake/Free Bet
                    </div>
                </th>
                <th class="diy-table-header" scope="col" style="max-width: 200px">
                    <div class="diy-header-text">
                        Profit
                    </div>
                </th>
                <th class="diy-table-header" scope="col" style="max-width: 200px">
                    <div class="diy-header-text">
                        Tags
                    </div>
                </th>
                <th class="diy-table-header" scope="col" style="max-width: 200px">
                    <div class="diy-header-text">
                        Status
                    </div>
                </th>
                <th class="diy-table-header" scope="col" style="max-width: 100px">
                    <div class="diy-header-text">
                        Other
                    </div>
                </th>
                <th class="diy-table-header" scope="col" style="max-width: 100px">

                    <div>
                        <button class="btn btn-primary" id="addBetButton">Add Bet</button>
                    </div>
                </th>
                </th>
            </tr>
        </thead>
        <tbody id="betBody">

        </tbody>

    </table>

</div>






</html>