<!DOCTYPE html>
<html>

<head>
    <title>Navigation Bar</title>
</head>
<div style="text-align: center" th:fragment="betTable()">
    <table class="table" id="betTable" style="text-align: center;">
        <thead id="itemHead">
            <tr>
                <th scope="col" style="max-width: 200px">Sportsbook</th>
                <th scope="col" style="max-width: 200px">Legs</th>
                <th scope="col" style="max-width: 100px">Date</th>
                <th scope="col" style="max-width: 200px">Odds</th>
                <th scope="col" style="max-width: 100px">Stake/Free Bet</th>
                <th scope="col" style="max-width: 200px">Profit</th>
                <th scope="col" style="max-width: 200px">Tags</th>
                <th scope="col" style="max-width: 200px">Status</th>
                <th scope="col" style="max-width: 100px">Other</th>
                <th scope="col" style="max-width: 100px">Button</th>
                </th>
            </tr>
        </thead>
        <tbody id="betBody">

        </tbody>

    </table>

</div>






</html>