<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Navigation Bar</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar()">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Diy Bet Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/bets}">Bets</a>
                </li>
            </ul>

            <div class="diy-stats-div" id="diy-stats-div" style="display: none;">
                <div class="diy-nav-text" id="totalProfit">
                    Profit:
                </div>
                <div class="diy-nav-text" id="monthProfit">
                    Profit:
                </div>
                <div class="diy-nav-text" id="todayProfit">
                    Profit:
                </div>
            </div>

            <span class="navbar-text">
                <div>
                    Hello, <span id="managername" th:text="${#authentication.name}">user</span>.
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-primary" value="Log Out" />
                    </form>
                </div>
            </span>
        </div>
    </div>
</nav>



</html>